name: Build

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Set up JDK 11
        uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4
        with:
          distribution: 'zulu' 
          java-version: '11'
      - name: Set up Node JS
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: '18'
      - name: Test consumer siren project (js)
        working-directory: consumer
        run: |
          npm install
          npm test
      - name: Test consumer siren project (java)
        working-directory: spring-consumer
        run: |
          mvn test
      - name: Set up JDK 17
        uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4
        with:
          distribution: 'zulu' 
          java-version: '17'
      - name: Test provider siren project (java)
        working-directory: provider
        run: |
          ./gradlew pactverify
      - name: Test provider siren project (java)
        working-directory: provider
        run: |
          ./gradlew clean test --info
